<h3>このTweetをしますか？</h3>
  <%= form_with(model: @blog ,url:blogs_path, local:true) do |form| %>
    <%= form.hidden_field :content %>
    <p>タイトル:<%= @blog.content %></p>
    <h1 class="btn btn-primary" role="button"><%= form.submit "Tweetする" %></h1>
  <% end %>
  <%= form_with(model: @blog ,url:new_blog_path, local:true, method:'get') do |form| %>
    <%= form.hidden_field :content %>
    <h1 class="btn btn-primary" role="button"><%= form.submit "Tweet一覧にもどる" ,name:'back' %></h1>
  <% end %>
